<!DOCTYPE html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Secular One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='game_style.css') }}"/>
    {% endblock %}
</head>
<body bgcolor="#121213">
    <h1 style="color: white; text-align: center; font-size: 2.25em; font-family: 'Secular One'">
        D<span style="color: #61c961">i</span><span style="color: #ffff57">f</span>fer
    </h1>
    <hr style="color: grey; width: 100%;">

    <div class="definition" style="margin: auto; width: 50%;">
        <p style="color: white; text-align: center; font-size: 1.5em; font-family: 'Source Code Pro';">
            <u>Definition</u>: <span id="word">{{word.definition}}</span>
        </p>
    </div>

    <div class="input-container" style="margin: auto; width: 50%;">
        <input id="guess" style="font-family: 'Source Code Pro';" type="text" required=""/>
		<label style="font-family: 'Source Code Pro';">Guess</label>
    </div>

    <div style="margin: auto; width: 50%; color: white; font-family: 'Source Code Pro'; padding-top: 0.25em;">
        <table id="table">
        </table>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="script.js"></script>
</body>