<!DOCTYPE html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Secular One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
</head>
<body bgcolor="#121213">
    <h1 style="color: white; text-align: center; font-size: 2.25em; font-family: 'Secular One'">
        D<span style="color: #61c961">i</span><span style="color: #ffff57">f</span>fer
    </h1>
    <hr style="color: grey; width: 100%;">
    <div style="margin: auto; width: 50%;">
        <p style="color: white; text-align: center; font-size: 1.5em; font-family: 'Source Code Pro';">
            <u>Definition</u>: {{word.definition}}
        </p>
    </div>
</body>